<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Imagetype:</strong>
  <%= @profile.imagetype %>
</p>

<p>
  <strong>Image 2:</strong>
  <%= @profile.image_2 %>
</p>

<p>
  <strong>Prof:</strong>
  <%= @profile.prof %>
</p>

<p>
  <strong>Image 3:</strong>
  <%= @profile.image_3 %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @profile.desk %>
</p>

<p>
  <strong>Image 4:</strong>
  <%= @profile.image_4 %>
</p>

<p>
  <strong>Image 5:</strong>
  <%= @profile.image_5 %>
</p>

<p>
  <strong>Price:</strong>
  <%= @profile.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @profile.category_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
